.hono
{
  height: 540px;
}
.honotv
{
  height: 430px;
  width: 69%;
  margin-left: 90px;
  margin-top:100px;
}
.hono1
{
  height: 340px;
  width: 67.5%;
  position: relative;
  bottom: 422px;
  left: 45px;
}