.vault {
    background-color: #080f11;
    height: 2000px;
    border-radius: 20px;
}

.vault1 {
    color: #acff62;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-left: 130px;
    top: 150px;
}

.vault2 {
    color: white;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    margin-left: 130px;
    top: 150px;
}

.vault3 {
    color: gray;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-left: 130px;
    top: 150px;
}

.vcard {
    display: flex;
}

.vcard1 {
    height: 315px;
    width: 22%;
    background-color: white;
    flex-wrap: wrap;
    margin-left: 40px;
    position: relative;
    top: 200px;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    right: 20px;

}

.vcard1 img {
    height: 315px;
    width: 100%;
    border-radius: 10px;
    transition: height 1s;
    position: relative;
    bottom: 69px;
    object-fit: fill;

}

.vcard1 img:hover {
    height: 289px;
}

.vcard1 p {
    position: relative;
    top: 275px;
    left: 0px;
    color: black;
    font-size: 28px;
    font-weight: 600;
}

@media screen and (max-width:990px){
    .vault2 {
        color: white;
        font-weight: 500;
        font-size: 40px;
        position: relative;
        margin-left: 0px;
        top: 150px;
    }
}
.vault3 {
    color: gray;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    margin-left: 10px;
    top: 150px;
}
.vcard1 img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    transition: height 1s;
    position: relative;
    bottom: 69px;
    object-fit: fill;
}